* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: montsterat;
}

@font-face {
  font-family: montsterat;
  src: url(Fonts/Montsterrat/Montserrat-VariableFont_wght.ttf);
}

#alertDiv {
  position: fixed;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 24px;
  background-color: green;
  color: white;
  font-weight: 500;
  text-align: center;
  max-width: 400px;
  width: 90%;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: bottom 0.5s ease, opacity 0.5s ease;
  z-index: 999;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

form button:active {
  opacity: 0.4;
}

.container {
  margin-top: 100px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 30px;
  max-width: fit-content;
  max-width: 800px;
}

.container .signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.signUpForm > div {
  display: flex;
  gap: 8px;
  width: 100%;
}

.signUpForm > input,
.signUpForm select {
  width: 100%;
}

.signUpForm > div input {
  flex-grow: 1;
}

.container input,
.container select {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  outline: none;
}

.purple-bg {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(to right, #5c6bc0, #512da8);
  color: #fff;
  position: relative;
  padding: 20px;
  border-radius: 110px 0px 0px 110px;
}

.purple-bg a {
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid #fff;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

form button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

#signUpStatus {
  padding: 10px;
}

#signUpStatus p {
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .purple-bg {
    border-radius: 50px 50px 0px 0px;
  }
}

@media screen and (max-width: 500px) {
  .signUpForm > div {
    flex-direction: column;
  }
}